@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.body2 {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(123deg, #71b8e7, #9b59b6);
}
.container2 {
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}
.container2 .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container2 .title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: linear-gradient(123deg, #71b8e7, #9b59b6);
}
.container2 form .user_details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
form .user_details .input_pox {
  margin-bottom: 15px;
  margin: 20px 0 12px 0;
  width: calc(100% / 2 - 20px);
}
.user_details .input_pox .datails {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user_details .input_pox input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user_details .input_pox input:focus,
.user_details .input_pox input:valid {
  border-color: #9b59b6;
}
form .gender_details .gender_title {
  font-size: 20px;
  font-weight: 500;
}
form .gender_details .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}
.gender_details .category label {
  display: flex;
}
.gender_details .category .dot {
  height: 18px;
  width: 18px;
  background: #d9d9d9;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
  border-color: #d9d9d9;
  background-color: #9b59b6;
}
form input[type='radio'] {
  display: none;
}
form .button {
  height: 45px;
  margin: 45px 0;
}
form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: linear-gradient(123deg, #71b8e7, #9b59b6);
}
form .button input :hover {
  background: linear-gradient(-123deg, #71b8e7, #9b59b6);
}
@media (max-width: 584px) {
  .container2 {
    max-width: 100%;
  }
  form .user_details .input_pox {
    margin-bottom: 15px;
    width: 100%;
  }
  form .gender_details .category {
    width: 100%;
  }
  .container2 form .user_details {
    max-height: 300px;
    overflow: scroll;
  }
  .user_details::-webkit-scrollber {
    width: 0;
  }
}
.card {
  max-width: 500px;
  width: 100%;
  padding: 40px 20px 20px 20px;
  cursor: grab;
  height: 600px;
  position: fixed;
  top: 70px;
  background: rgba(255, 255, 255, 0.253);
  left: 0;
  z-index: 1;
  border-radius: 30px;
}
.allWorkerWrapper {
  overflow: scroll;
  height: 100%;
  width: 100%;
}
.allWorkerWrapper .user {
  display: flex;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  background: #0099ff7a;
  color: white;
  margin: 13px 0;
}
.allWorkerWrapper .user .userImg {
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.allWorkerWrapper .user .userImg img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.allWorkerWrapper .user .userInfo {
  margin-left: 20px;
  height: 100%;
  overflow: scroll;
  width: 70%;
}
.allWorkerWrapper .user .userInfo h5 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: capitalize;
  font-weight: 700;
}
.allWorkerWrapper .user .userInfo h4 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: capitalize;
  font-weight: 700;
}
.body2 .card2 {
  width: 200px !important;
  cursor: pointer;
  margin: 40px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
.body2 .card2:first-of-type {
  margin-right: 25px;
}

.body2 .card2:hover {
  /* margin-top: -10px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.body2 .banner {
  height: 100px;
  width: 100%;
  padding-top: 30px;
  background-color: #fafafa;
  background-size: cover;
  background-position: center;
}
.body2 .card2 .banner {
  background-image: url('https://tinypic.host/images/2023/03/30/300150.jpg');
}
.swiper-button-prev {
  width: 300px;
  background: #2ab1ce;
}
.body2 .avatar {
  height: 100px;
  width: 100px;
  margin: auto;
  background-size: cover;
  background-position: center;
  background-color: #f1f1f1;
  border-radius: 100%;
  overflow: hidden;
}
.body2 .avatar img {
  width: 100%;
  height: 100%;
}
.allCards {
  display: flex;
  overflow-x: scroll;
}
.body2 .card2 .avatar {
  background-image: url('https://tinypic.host/images/2023/02/21/pikrepo.com-2.jpg');
}
.body3 .container2 {
  overflow: hidden;
}
.body2 h3,
a,
i {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
.body2 h3 {
  margin-top: 45px;
  margin-bottom: 5px;
  font-size: 18px;
  color: #212121;
}
.body2 a {
  display: block;
  padding: 5px 0px;
  font-size: 14px;
  color: #9e9e9e;
  text-decoration: none;
}
.body2 a:hover {
  background-color: #fafafa;
  color: inherit;
}
.body2 ul {
  margin-top: 10px;
  padding: 15px 0px;
  background-color: #fafafa;
}
.body2 ul a {
  display: inline;
  margin-right: 10px;
}
.body2 ul a i:hover {
  transform: scale(1.5);
  color: #2ab1ce;
}
::-webkit-scrollbar {
  width: 20px;
  /* display: none; */
  background: none;
}
/* directional buttons */
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
/* empty space "below" the progress bar */
::-webkit-scrollbar-track {
  background: none;
}
/* top-most layer of the progress bar not covered by the draggable scrolling element */
::-webkit-scrollbar-track-piece {
  background: none;
}
/* draggable scrolling element that resizes depending on the size of the scrollable element */
::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  border-radius: 99px;
  background-color: rgba(88, 89, 91, 0.2);
  box-sizing: border-box;
  background-clip: padding-box;
  /* padding: 10px; */
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(88, 89, 91, 0.6);
}
/* the (usually) bottom corner of the scrollable element, where two scrollbars might meet */
::-webkit-scrollbar-corner {
  background: none;
}
.modal-container {
  position: fixed;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
};
.toggle2{
  display: block !important; 
}
